.weather-container {
    width: 550px;
    height: auto;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 100px;
    border-radius: 20px;
    /* background: linear-gradient(45deg, #54b4e0, #112050);
    box-shadow: 0 5px 100px #89CFF0, 0 4px 20px #1D2951; */

    /* background: linear-gradient(45deg, #89CFF0, #1D2951);
    box-shadow: 0 5px 100px #89CFF0, 0 4px 20px #1D2951; */

    background-image: linear-gradient(180deg, #130754 0%, #3b5bc5 100%);
}
