.current-weather-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .current-weather-details img:hover {
    transform: scale(1.2);
} */

.current-weather-details img {
    cursor: pointer;
    height: 50px;
    width: 50px;
    align-self: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.expanded-weather-details {
    width: 100%;
    padding: 20px;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); */
    margin-top: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.expanded-weather-details.expanded {
    max-height: 500px;
}