.forecast-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

.forecast-day {
    flex: 1 0 100px;
    margin: 10px;
    padding: 20px;
    border-radius: 30%;
    background-image: linear-gradient(360deg, rgb(48, 48, 94) 0%, rgb(78, 78, 163) 100%);
    /* background-image: linear-gradient(360deg, rgb(48, 48, 94) 0%, rgb(78, 78, 163) 100%);
    box-shadow: 0 6px 6px #000080, 0 6px 6px #00000a; */
    color: rgb(198, 227, 252);
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forecast-day:hover {
    transform: scale(1.1);
}

.temperature.high {
    margin: 0;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

.temperature.low {
    margin: 0;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

.forecast-image {
    width: 40px;
    height: 40px;
    margin: 5px;
}

.forecast-weekday {
    margin: 0;
    font-size: larger;
    font-weight: bold;
}