body {
  margin: 0;
  padding: 0;
  background-image: url(C:\Users\JoelQ\Desktop\React\ReactWeatherApp\WeatherAppReact\src\Components\Assets\black-clouds-field.jpg);
  background-repeat: no-repeat;
  background-size: fill contain;
}